.reveal img.avatar {
    width: 25%;
    height: 25%;
    border-radius: 50%;
  }

  .flex-container {
    display: inline;
  }
  .flex-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    background-image: url("/img/front.png");
    background-repeat: no-repeat
  }

  .background-front {
    background-position:center;
    background-size: 100%;
    background-repeat: no-repeat
  }

.reveal img.noborder { background:none; border:none; box-shadow:none; }
